@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:wght@400;600&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #bodyReg {
    display: flex;
    justify-content: center;
  }
  body {
   
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }

  #rb1 {
    display: flex;
    justify-content: center;

  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button, form {
    margin-top: 16px;
  }
  
  button:last-child {
    background-color: #2196F3;
    margin-top: 8px;
  }
  
  button:last-child:hover {
    background-color: #0b7dda;
  }
  