#containerRol {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

#containersitoRol {
    display: flex;
    align-items: center;
    background-color: rgb(240, 239, 239);
    width: 1300px;
}

#rolesitos {
    margin-left: 180px;
    margin-right: 150px;
    width: 680px;
}

#rolesitos > h3 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-weight: bold; 
    font-size: 20px;
}